@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi+2|Hind+Madurai|Lato|Nunito+Sans|Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

h1 {
  color: $header-grey;
  text-transform: uppercase;
  margin: 2px 2px 2px 2px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
}

h3 {
  margin: 2px 2px 2px 2px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
  text-transform: uppercase;
  color: $text-main;
}

h4 {
  color: $header-grey;
  margin: 2px 2px 2px 2px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
}

h5 {
  color: $header-grey;
  text-transform: uppercase;
  margin: 2px 2px 2px 2px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

h6 {
  text-align: left;
  color: $header-grey;
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}

a {
  color: $text-main;
  text-decoration: none;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: $text-main;
  margin: 0rem;
}

input {
  font-family: "Hind Madurai", sans-serif;
  font-size: 30px;
}
