$animation-short: all 0.2s ease-in-out;
$animation: all 0.4s ease-in-out;
$animation-long: all 0.7s ease-in-out;

$header-grey: rgb(211, 211, 211);
$border-grey: rgba(211, 211, 211, 0.726);
$border-grey-fade: rgba(211, 211, 211, 0.5);
$header: rgba(126, 126, 126, 0.11);
$text-main: rgba(255, 255, 0, 0.76);
// $text-main: rgb(79, 255, 255);
// $text-main: rgb(188, 176, 255);
$text-secondary: rgba(255, 255, 255, 0.863);
$pane: rgba(206, 206, 206, 0.11);
$light-pane: rgba(102, 102, 102, 0.678);
$modal-dark: rgba(0, 0, 0, 0.7);
$edit-yellow: rgb(255, 251, 0);
$delete-red: rgb(255, 65, 65);
$checklist-green: rgb(32, 255, 32);
$delete-red-fade: rgba(255, 65, 65, 0.877);
$checklist-green-fade: rgba(32, 255, 32, 0.884);
$business-cream: rgb(238, 238, 199);
$input-grey: #c2ffff48;
$button-text: rgb(231, 231, 231);
$page-small: rgb(51, 51, 51);
$button-hover: #1b2735;
$button: black;

// $header-grey: rgb(211, 211, 211);
// $border-grey: rgba(211, 211, 211, 0.726);
// $border-grey-fade: rgba(211, 211, 211, 0.5);
// $header: black;
// $text-main: rgba(255, 255, 0, 0.76);
// $text-secondary: rgba(255, 255, 255, 0.863);
// $background-fade: rgb(46, 46, 46);
// $pane: rgba(0, 0, 0, 0.575);
// $pane: rgba(0, 0, 0, 0.274);
// $light-pane: rgba(75, 75, 75, 0.678);
// $modal-dark: rgba(0, 0, 0, 0.7);
// $edit-yellow: rgb(255, 251, 0);
// $delete-red: rgb(255, 65, 65);
// $checklist-green: rgb(32, 255, 32);
// $business-cream: rgb(238, 238, 199);
// $input-grey: #c2ffff48;
// $button-text: rgb(231, 231, 231);
// $page-small: rgb(51, 51, 51);

// $header-grey: rgb(211, 211, 211);
// $border-grey: rgba(211, 211, 211, 0.726);
// $background-fade: #0f2b3a;
// $text-main: #86e7ff;
// $text-secondary: rgba(255, 255, 255, 0.774);
// $pane: rgba(65, 161, 225, 0.15);
// $pane: rgba(0, 0, 0, 0.274);
// $light-pane: rgba(65, 161, 225, 0.4);
// $modal-dark: rgba(0, 0, 0, 0.7);
// $edit-yellow: rgb(255, 251, 0);
// $delete-red: rgb(255, 65, 65);
// $checklist-green: rgb(32, 255, 32);
// $business-cream: rgb(238, 238, 199);
// $button-text: rgb(231, 231, 231);
// $input-grey: #c2ffff48;
// $page-small: rgb(0, 38, 73);
